@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300;400&display=swap');
@import url('https://fr.allfont.net/allfont.css?fonts=futura-bold');

/* -------------- Paramètres -------------- */

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Futura-Bold', arial;
}

::selection{
  background: #ffcd1a;
}

a{
    text-decoration: none;
    color: black;
}

.d-none{
  display: none !important;
}

/* -------------- Header -------------- */

header{
    width: 100vw;
    height: 125px;
}

.container_header{
    margin: auto;
    display: flex;
    align-items: center;
    justify-content:space-between;
    width: 90vw;
    height: 100%;
}

.nav ul{
    display: flex;
    list-style: none;
    gap: 60px;
}

.nav ul li a{
    text-decoration: none;
    color: black;
    font-size: 18px;
}

.nav ul li a:hover{
    color: #ffcd1a;
}

.nav ul li{
    position: relative;
}

.nav ul li a::before{
    content: '';
    display: block;
    position: absolute;
    height: 3px;
    width: 0;
    background-color: #ffcd1a;
    bottom: -10px;
    transition: .3s width;
}

.nav ul li a:hover::before{
    width: 100%;
}

.logo img{
    height: 53%;
    position: absolute;
    top: 20px;
    padding-left: 5px;
}

@media (max-width: 870px){

  .nav{
    display: none;
  }
  
}

/* -------------- Bannière -------------- */

.banniere{
    width: 100vw;
    height: 70vh;
    position: relative;
    display: flex;
    justify-content: center;
}

.container_banniere{
    position: absolute;
    width: 800px;
    text-align: center;
    top: 50%;
    transform: translateY(calc(-50% - 125px / 2));
}

.container_banniere p{
    font-family: 'Karla', sans-serif;
    font-weight: 300;
    font-size: 1.4rem;
    margin-bottom: 2.8rem;
}

.container_banniere h1{
    font-size: 3rem;
    line-height: 1.6;
}

.container_banniere h1 strong{
    background-image: url('https://cdn.shopify.com/s/files/1/0072/0561/7711/files/Calque_14.png?8187');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center 100%;
    overflow: visible;
}

@media (max-width: 870px){

  .container_banniere h1{
    font-size: 1.5rem;
}

}

@media (max-width: 600px){

  .container_banniere h1{
    font-size: 1.3rem;
}

  .container_banniere{
    margin-left: 100px;
    width: 70vw;
    margin-top: -50px;
  }

  .banniere{
    height: 50vh;
  }

}

/* -------------- Portfolio -------------- */

.portfolio{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container_portfolio{
    margin-top: 80px;
    width: 80%;
    text-align: center;
    color: white;
}

.container_portfolio h2{
    font-family: 'Karla', sans-serif;
}

.clients_brands{
    width: 100%;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 80px;
}

.clients_brands a{
    display: inline-block;
    width: 170px;
    margin: 20px;
}

.clients_brands a img{
    width: 100%;
}

@media (max-width: 600px){
  .clients_brands a{
    width: 100px;
  }
}

/* -------------- Slider -------------- */

.slider{
    height: 100vh;
}

.swiper {
    width: 100%;
    height: 100%;
    margin-left: 0px !important;
  }

  .swiper-slide {
    text-align: center;
    display: flex;
    cursor: grab;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .next{
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 15%;
    z-index: 999;
    font-size: 40pt;
    transition: .2s color;
    cursor: pointer;
  }

  .next:hover{
    color: #ffcd1a;
  }

  .content_slider{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 25%;
    background-color: #fff;
    height: 400px;
    width: 400px;
    padding-left: 50px;
    padding-right: 50px;
  }

  .content_slider h2{
    margin-bottom: 2.14rem;
    font-weight: 300;
    font-family: 'Karla', sans-serif;
  }

  .content_slider p{
    font-family: 'Karla', sans-serif;
    font-size: 14pt;
    margin-bottom: 50px;
  }

  .content_slider a{
    background-image: url('https://cdn.shopify.com/s/files/1/0072/0561/7711/files/Calque_14.png?8187');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: bottom;
    overflow: visible;
  }

  .content_slider a:hover{
    font-style: italic;
  }

  .brand_slider{
    width: 50%;
    margin: auto;
    margin-bottom: 50px;
  }

  @media (max-width: 800px){
    .content_slider{
      width: 300px;
    }
  }

  @media (max-width: 600px){
    .content_slider{
      width: 150px;
      height: 550px;
    }
    .next{
      right: 10%;
      font-weight: 300;
      font-size: 20pt;
    }
    .slider{
      height: 80vh;
    }
  }

/* -------------- InfiniteText -------------- */

.infinite{
    height: 90px;
    background-color: #ffcd1a;
    display: flex;
    align-items: center;
}
.messagedefilant {
    display: block;
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 45px;
  }
   
  .messagedefilant div {
    position: absolute;
    min-width: 100%;
  }
   
  .messagedefilant div span, 
  .messagedefilant div:after {
    position: relative;
    display: inline-block;
    font-size: 2rem;
    white-space: nowrap;
  }
   
  .messagedefilant div span {
    animation: defilement 10s infinite linear;
    color: #fff;
  }
   
  .messagedefilant div:after {
    position: absolute;
    top:0; left:0;
    color: #fff;
    content:attr(data-text);
    animation: defilement2 10s infinite linear;
  }
   
  @keyframes defilement {
    0% { margin-left: 0; }
    100% { margin-left: -100%; }
  }
   
  @keyframes defilement2 {
    0% { margin-left: 100%; }
    100% { margin-left: 0%; }
  }

  /* -------------- MenuBurger -------------- */

.sidenav {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    right: -250px;
    background-color: #fff;
    padding-top: 60px;
    transition: left 0.5s ease;
    border-left: 3px solid #ffcd1a;
    display: none;
  }
  
  .sidenav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  /* Sidenav menu links */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: black;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #111;
  }
  
  /* Active class */
  .sidenav.active {
    right: 0;
  }
  
  /* Close btn */
  .sidenav .close {
    position: absolute;
    top: 0;
    left: -5px;
    font-size: 36px;
  }

  .burger-icon img{
    height: 40px;
    width: 40px;
    display: none;
    left: 0;
  }

  .open_menu{
    position: absolute;
    right: 40px;
    top: 40px;
  }

  @media (max-width: 870px){

    .burger-icon img{
      display: block;
    }
    .sidenav{
      display: block;
    }
    
  }

/* -------------- Popup -------------- */

.popup{
    position: fixed;
    bottom: 20px;
    right: 20px;
    height: 60px;
    width: 60px;
    background-color: #ffcd1a;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 9999;
    box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);
}

    .popup img{
      height: 30px;
    }

    .popup_close{
      position: fixed;
      bottom: 20px;
      right: 20px;
      height: 60px;
      width: 60px;
      background-color: #ffcd1a;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      z-index: 9999;
      box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);
  }

/* -------------- Formulaire de contact -------------- */

 .form_contact{
  position: fixed;
  height: 500px;
  z-index: 9999;
  width: 350px;
  bottom: 100px;
  right: 20px;
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid lightgrey;
 }

 .form_contact:before{
  content: 'Veuillez remplir le formulaire ci-dessous et nous vous recontacterons dès que possible.';
  display: block;
  height: 120px;
  width: 100%;
  background-color: #ffcd1a;
  position: absolute;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  font-family: 'Karla', sans-serif;
  text-align: center;
  color: white;
  padding-top: 30px;
 }

 .form_contact:after{
  content: 'Ceci est mon formulaire de contact';
  display: block;
  position: absolute;
  width: 100%;
  height: 30px;
  background-color: rgb(238, 238, 238);
  bottom: 0;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  font-family: 'Karla', sans-serif;
  text-align: center;
  padding-top: 15px;
 }

 .form{
  margin: auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  height: 300px;
  width: 315px;
  border-radius: 5px;
  border-left: 5px solid #ffcd1a;
  background-color: #fff;
  box-shadow: 1px 1px 4px 0px rgba(0,0,0,0.75);
  display: flex;
  align-items:center;
  justify-content: center;
 }

 .form form{
  text-align: center;
  margin-top: 30px;
 }

 .form form input{
  width: 80%;
  margin-bottom: 30px;
  height: 30px;
  border-radius: 5px;
  outline: none;
  border: 1px solid grey;
  font-family: 'Karla', sans-serif;
 }

 .form form button{
  background-color: #ffcd1a;
  height: 40px;
  width: 80%;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  color: white;
 }

 .form form input[type=text]:focus,  .form form input[type=email]:focus{
  border: 1px solid #ffcd1a;
  color: #ffcd1a;
 }
